input,
textarea {
	&::placeholder {
		@apply text-body-m text-color-input-default;
	}
}

textarea {
	min-height: $height-textarea !important;
	height: $height-textarea !important;
	@apply text-body-m #{!important};
}
.el-form-item__error {
	@apply text-error text-support-danger #{!important};
}
.input-password {
	@apply relative;
}
.show-pwd {
	@apply absolute right-2;
}
.el-input {
	.el-input__inner {
		min-height: 40px !important;
		@apply text-body-m;
	}
}
.el-input__wrapper {
	@apply px-3 py-0  rounded-md border-color-border-01 #{!important};
}
//.el-select .el-input.is-focus .el-input__wrapper{
//  @apply shadow-input #{ !important};
//}
//.input-button-icon {
//  //box-shadow: none !important;
//  @apply pl-4 #{!important};
//}
.input-button-icon {
	.el-input__inner {
		@apply pl-6 #{!important};
	}
}
.search-blogs-filter {
	@apply pb-0 #{!important};
}
.search-blogs {
	width: 317px !important;
}
.el-textarea > textarea.el-textarea__inner {
	@apply h-full p-2 #{!important};
}
