html::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

body {
	font-size: 16px;
	margin: 0;
	padding: 0;
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	//font-family: $font-root;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

.break-w-100 {
	word-break: break-word;
	@apply max-w-full;
}

.stroke_text {
	letter-spacing: 1px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: var(--color-brand-primary-default);
}
